SmartSchool.db
/Migrations
.vs
.vscode
bin/
obj/
bin/Debug/net7.0/SmartSchool.WebAPI.deps.json
bin/Debug/net7.0/SmartSchool.WebAPI.dll
bin/Debug/net7.0/SmartSchool.WebAPI.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/SmartSchool.WebAPI.csproj.nuget.dgspec.json
obj/Debug/net7.0/SmartSchool.WebAPI.assets.cache
obj/Debug/net7.0/SmartSchool.WebAPI.csproj.AssemblyReference.cache
obj/Debug/net7.0/SmartSchool.WebAPI.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/SmartSchool.WebAPI.csproj.FileListAbsolute.txt
obj/Debug/net7.0/SmartSchool.WebAPI.dll
obj/Debug/net7.0/SmartSchool.WebAPI.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/SmartSchool.WebAPI.pdb
obj/Debug/net7.0/ref/SmartSchool.WebAPI.dll
obj/Debug/net7.0/refint/SmartSchool.WebAPI.dll
